<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.robinspringboot.mapper.ScheduleMapper">

    <resultMap id="BaseResultMap" type="com.example.robinspringboot.domain.Schedule">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="schedulestartdate" column="schedulestartdate" jdbcType="TIMESTAMP"/>
            <result property="scheduleenddate" column="scheduleenddate" jdbcType="TIMESTAMP"/>
            <result property="notes" column="notes" jdbcType="VARCHAR"/>
            <result property="createat" column="createat" jdbcType="TIMESTAMP"/>
            <result property="createby" column="createby" jdbcType="VARCHAR"/>
            <result property="updateat" column="updateat" jdbcType="TIMESTAMP"/>
            <result property="updateby" column="updateby" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,schedulestartdate,scheduleenddate,
        notes,createat,createby,
        updateat,updateby
    </sql>
</mapper>
